{% extends "base.html" %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="/">Početna</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('admin_dashboard') }}">Administracija</a></li>
    <li class="breadcrumb-item active" aria-current="page">Whitelist Dashboard</li>
  </ol>
</nav>
{% endblock %}

<div id="flash-container">
    {% if flash %}
    <div class="container mt-3">
      <div class="alert alert-{{ flash.category }} alert-dismissible fade show" role="alert">
        {{ flash.message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
  {% endif %}
</div>


{% block content %}
<h2>Whitelist</h2>

<form method="post" action="{{ url_for('admin_whitelist_add') }}" style="margin-bottom: 2em;">
    <label for="player">Add player to whitelist:</label>
    <input type="text" name="player" id="player" required>
    <button type="submit">Add</button>
</form>

<ul id="whitelist">
    {% for player in whitelist %}
    <li>
        {{ player }}
        <form method="post" action="{{ url_for('admin_whitelist_remove' )}}" style="display: inline;">
            <input type="hidden" name="player" value="{{ player }}">
            <button type="submit">Remove</button>
        </form>
    </li>
    {% endfor %}
</ul>

{% endblock %}
