{% macro render_player(player, user, request, include_kick=True, include_coords=True, include_time=False, tag="Online") %}
<span>
    <span class="badge bg-success me-2">{{ tag }}</span> 

    {% if include_time %}
    <small>{{ player.last_seen_time(format='%H:%M:%S"')}}</small>
    {% endif %}

    {{ player.name }}

    {% if include_coords %}
    <small class="ms-2 text-muted">({{ player.last_seen_coords() }})</small>
    {% endif %}
</span>
{% if user.is_admin %}
<div class="d-flex gap-2">
  {% if include_kick %}
  {{ kick_form(player, request=request) }}
  {% endif %}
  {{ ban_form(player, request=request) }}
  {{ remove_whitelist_form(player, request=request) }}
</div>
{% endif %}
{% endmacro %}

{% macro ban_form(player, request) %}
<form method="POST" action="{{ request.url_for('admin_ban_player') }}">
  <input type="hidden" name="player" value="{{ player.name }}">
  <button class="btn btn-sm btn-warning" type="submit" onclick="return confirm('Da li si siguran da želiš da banuješ {{ player.name|escapejs }}?');">Ban</button>
</form>
{% endmacro %}

{% macro kick_form(player, request) %}
<form method="POST" action="{{ request.url_for('admin_kick_player') }}">
  <input type="hidden" name="player" value="{{ player.name }}">
  <button class="btn btn-sm btn-secondary" type="submit" onclick="return confirm('Da li si siguran da želiš da kikuješ {{ player.name|escapejs }}?');">Kick</button>
</form>
{% endmacro %}

{% macro remove_whitelist_form(player, request) %}
<form method="POST" action="{{ request.url_for('admin_whitelist_remove') }}">
  <input type="hidden" name="player" value="{{ player.name }}">
  <button class="btn btn-sm btn-danger" type="submit" onclick="return confirm('Da li si siguran da želiš da skineš {{ player.name|escapejs }} sa whiteliste?');">Skini sa whiteliste</button>
</form>
{% endmacro %}
